<div style="height: 100px;" >
    <mat-toolbar class="navbar navbar-expand-sm navbar-light">
  
      <mat-toolbar-row>
        <button mat-icon-button fxShow="true" fxHide.gt-sm>
          <mat-icon></mat-icon>
        </button>
        
        <img src="src/buzzuplogo.png" style="max-height: 150%">
  
        <span class="example-spacer"></span>
        <div class="login" fxShow="true">
          <a href="#" mat-button>
            <mat-icon ></mat-icon>
            
          </a>
        </div>
       
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

<div fxFill="row" fxLayoutAlign="center vertical">

  <mat-card class="example-card">

    <mat-card-content>


      <h1>{{movie.movieName}}
      </h1>
      <img src="{{ movie.moviePoster }}"/>

      <p>
        <mat-icon>calendar_today</mat-icon>Release Date:{{movie.movieReleasedate}}
      </p>
      <p>
        <mat-icon>schedule</mat-icon>Duration:{{movie.movieDuration}}
      </p>
      <p>
        <!-- <mat-icon>favorite</mat-icon>{{movie.format}} -->
      </p>

    </mat-card-content>

  </mat-card>

  <mat-card class="example-card1">

    <mat-card-content>

      <h3>Languages:</h3>
      <p>{{movie.languages}}</p>

      <h3>Genre:</h3>
      <p>{{movie.movieGenre}}</p>

      <h3>Synopsis:</h3>
      <p>{{movie.synopsis}}
      </p>
      <h3>Casts:</h3>
      <p>{{movie.actors}}, {{movie.actress}}
      </p>
      <h3>Director</h3>
      <p>{{movie.director}} </p>

      <a routerLink="/theatredetails" class="btn"><button mat-raised-button >Proceed</button></a>

    </mat-card-content>

  </mat-card>

</div>
