.layout{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /* align-content: center; */
}
.child{
    align-content: center;
    
    flex-shrink: 0;
}
.screen{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
    padding: 0px;
}
/* .position{
    flex: 1 1 ;
}
mat-toolbar{
    background-color:mediumseagreen;
} */
.heading{
    display: flex;
    justify-content: center;
    color: white;
    font-family: arial, sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 4px;
    margin-left: 0px;
    max-height: 60px;
    padding-left: 0px;
}
  .login{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .navbar {
    height: 70px;
    flex: 1 1 auto;
   
  
    position: fixed;
    z-index: 3;
    background-image: linear-gradient(rgb(106, 107, 93), rgb(29, 24, 24));
  } 
  .container{
    max-height: 2%;
    color: white;
  }
  .footer {
    background-image: linear-gradient(rgb(106, 107, 93), black);
       height: auto;
       /* padding-bottom: 30px; */
       position:relative fixed;
       width: 100%;
       border-bottom: 1px solid #CCCCCC;
       color: white;
       /* border-top: 1px solid #DDDDDD; */
   }
   .py-5{
    
     max-height: 2vh;
     
   }
.text-center{
  text-align:center;
}
h5{
  color: rgb(175, 175, 29);
}
  mat-icon{
    color:rgb(255, 204, 0);
  }
  body{
    background-image: linear-gradient(90deg,rgb(3, 3, 3), black);
    padding-bottom: 10px;
    height: 100%;
  
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     margin-top: 0;
     padding-top: 0;
     background-size: cover;
  }
h2{
  color:white;
}

