<!-- <table>
    <tr>
      <td class="paddind-bottom"></td>
      <td class="padding-bottom" *ngFor="let col of columns"> {{col}}</td>
      
    </tr>
</table> -->

<div style="height: 100px;" >
    <mat-toolbar class="navbar navbar-expand-sm navbar-light">
  
      <mat-toolbar-row>
        <button mat-icon-button fxShow="true" fxHide.gt-sm>
          <mat-icon></mat-icon>
        </button>
        
        <img src="src/buzzuplogo.png" style="max-height: 150%">
  
        <span class="example-spacer"></span>
        <div class="login" fxShow="true">
          <a href="#" mat-button>
            <mat-icon ></mat-icon>
            
          </a>
        </div>
       
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
<div class="layout">
<table class="child">
  <tr *ngFor="let seat of seats; let i =  index;">
  <span *ngIf="i==0">
    <p>Platinum</p>
  </span>
  <span *ngIf="i==1">
      <p></p>
  </span>
  <span *ngIf="i==2">
      <p>Gold</p>
  </span>
  <span *ngIf="i==3">
      <p></p>
  </span>
  <span *ngIf="i==4">
      <p>Silver</p>
  </span>
  <span *ngIf="i==5">
      <p></p>
  </span>
  <span *ngIf="i==6">
      <p></p>
  </span>
  <span *ngIf="i==7">
      <p></p>
  </span>
  <span *ngIf="i==8">
      <p></p>
  </span>
  <td class="padding-right"></td>
  <td class="seat" *ngFor="let col of seat; let j = index">
  
    <img ng-switch-default [src]="imgsrc" (click)="onSelect(i,j)">
   
    <!-- <img ng-switch-when="selected" src="src/assets/seat_selected.png"> -->
    <!-- <img ng-switch-when="reserved" src="src/assets/seat_reserved.png"> -->

  </td>
  
  </tr>
  </table>
</div>
<div class="screen">
  <img class="child" ng-switch-default src="src/assets/screen_layout.png">
</div>
<!-- <div *ngFor="let col of columns">
<span >
  {{col}}
</span>

</div> -->
