.example-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    max-width: 1500px;
    flex: 1;
  }
  
.a1{
    text-align: center;
    display: flex;
    justify-content: center;
    color: rgb(255, 204, 0);
    font-family: arial, sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

h2{
   color:rgb(226, 180, 30);;
   font-weight: bold;
   font-size: 30px;
   text-decoration: underline; 
   font-family: sans-serif;
}

mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }

mat-form-field ~ .mat-form-field {
    width: 100%;
}
mat-label
{
  color:white;
}
/* mat-option
{
  color:white;
} */
/* mat-select
{
  color:white;
} */
.movieGenre{
       max-width: 400px;
       background-color:transparent; 
       opacity: 3;
  }
  
  mat-card ~ .mat-card{
   
      border-color: grey;
     
      border-color: darkgray;
      /* padding-bottom: 20px; */
      margin-bottom: 10px;
      padding-top:20px;
  }  

  mat-card-title ~ .mat-card-title{
      color :rgb(226, 180, 30); 
      font-weight: bold;
   

  }
  .button1{
    background-color: rgb(226, 180, 30);
    color: white;
    float:right;
    margin-bottom: 0px;
 
 }
 .button2{
    background-color: rgb(226, 180, 30);
    color:white;
 }
 .form1{
    margin-left: 200px;
    margin-right:200px;
    background-image: linear-gradient(-120deg, white  ,black);
    color:white;
 }

 .movieDisplay1 {
    display: flex;
    flex-direction: row;
    flex:1 1 auto;
    flex-wrap: wrap;
    justify-content:space-between;
    /* align-items: flex-start; */
    /* justify-content: space-between; */
    /* flex-direction: column;*/
    padding-top: 10px; 
  }

  .eventDisplay{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex:1 1 auto;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 600px) {
    .movieGenre {
      flex: 100%;
      max-width: 100%;
      max-height: 300px;
    }
    .eventCatg {
        flex: 100%;
        max-height: 300px;
        max-width: 100%;
      }
      .form1{
        flex: 100%;
        max-width: 100%;
        max-height: 100%;
    }
 }
 .navbar {
  height: 70px;
  flex: 1 1 auto;
 

  position: fixed;
  z-index: 3;
  background-image: linear-gradient(rgb(106, 107, 93), rgb(29, 24, 24));
} 
.container{
  max-height: 2%;
  color: white;
}
.footer {
  background-image: linear-gradient(rgb(106, 107, 93), black);
     height: auto;
     /* padding-bottom: 30px; */
     position:relative fixed;
     width: 100%;
     /* border-bottom: 1px solid #CCCCCC; */
     color: white;
     /* border-top: 1px solid #DDDDDD; */
 }
 .py-5{
  
   max-height: 2vh;
   
 }
.text-center{
text-align:center;
}
h5{
color: rgb(175, 175, 29);
}
mat-icon{
  color:rgb(255, 204, 0);
}
body{
  background-image: linear-gradient(-120deg, white  ,black);
   padding-bottom: 10px; 
  height: 100%;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 0;
   background-size: cover;
}
h2{
color:white;
}
.req{
  color:white;
}
.eventCatg
{
  background-color:transparent; 
  opacity: 3;

}
