
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <mat-toolbar class="navbar navbar-expand-sm navbar-light">
  
      <mat-toolbar-row>
        <!-- <button mat-icon-button fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button> -->
        <!-- <span>BuzzUp</span> -->
        <img src="src/logo3.png"  style="float:left;
        max-width: 100%;max-height: 180%;
        height: auto !important">
          
          <div class="collapse navbar-collapse text-center justify-content-end" id="navbarDarkSupportedContent">
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search for Movies,Events...">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
           <span class="example-spacer"></span> 
           <div class="login" fxShow="true">
            <a href="#" mat-button>
              <mat-icon >account_box</mat-icon>
            </a>
           </div>   
    </mat-toolbar-row>
</mat-toolbar>
<body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="a1">User Registration</h1>
  <div class="example-container">
  <mat-horizontal-stepper class="form1">
    <mat-step [stepControl]="formGroup1">
      <ng-template matStepLabel>Account Information</ng-template>

      <form [formGroup]="formGroup1">
        <mat-progress-bar mode="determinate" value=25></mat-progress-bar>

        <mat-form-field>
          <mat-label>Mobile Number</mat-label>
          <input matInput placeholder="Enter your 10 digit mobile number" formControlName="userMobile" [(ngModel)]="userMobile" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email Id</mat-label>
          <input matInput placeholder="abc@example.com" formControlName="emailId" [(ngModel)]="emailId" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput placeholder="AlphaNumeric password" [type]="hide ? 'password' : 'text'" formControlName="password" [(ngModel)]="password"
            required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'Show' : 'Hide'}}</mat-icon>
        </mat-form-field>
      </form>
      <div>
        <button mat-button matStepperNext class="button1">Next</button>
      </div>
    </mat-step>


    <mat-step [stepControl]="formGroup2">
      <ng-template matStepLabel>Personal Information</ng-template>
      <form [formGroup]="formGroup2">
        <mat-progress-bar mode="determinate" value=50></mat-progress-bar>

        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Firstname Lastname" formControlName="userName" [(ngModel)]="userName">
        </mat-form-field>
        <br>
        <mat-radio-group formControlName="userGender" [(ngModel)]="userGender">
          <mat-label>Gender</mat-label>
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>

        <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput placeholder="Age" formControlName="age" [(ngModel)]="age">
        </mat-form-field>

        <!-- <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput placeholder="City" formControlName="city" [(ngModel)]="city">
        </mat-form-field> -->
        <mat-form-field>
          <mat-select placeholder="Select City">
            <mat-option  *ngFor="let city of cities" [value]="city.value" (click)="setCity(city.value)">
              {{city.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <div>
        <button mat-button matStepperPrevious class="button2">Back</button>
        <button mat-button matStepperNext class="button1">Next</button>
      </div>

    </mat-step>
    <mat-step [stepControl]="formGroup3">
      <ng-template matStepLabel>Social Information</ng-template>
      <form [formGroup]="formGroup3">
        <mat-progress-bar mode="determinate" value=75></mat-progress-bar>

        <mat-form-field>
          <mat-label class="req">Facebook Url</mat-label>
          <input matInput placeholder="xyz@facebook.com" formControlName="fburl" [(ngModel)]="fburl">
        </mat-form-field>

        <mat-form-field>
          <mat-label class="req">Twitter Url</mat-label>
          <input matInput placeholder="xyz@twitter.com" formControlName="twitterurl" [(ngModel)]="twitterurl">
        </mat-form-field>
      </form>
      <div>
        <button mat-button matStepperPrevious class="button2">Back</button>
        <button mat-button matStepperNext class="button1">Next</button>
        <br>
        <br>
        <br>
        <br>
      </div>

    </mat-step>
    <mat-step [stepControl]="formGroup4">
      <ng-template matStepLabel>Preferences</ng-template>
      <form [formGroup]="formGroup4">
        <mat-progress-bar mode="determinate" value=100></mat-progress-bar>
        <br>
        <h4>Additional Information:</h4>
        <br>
        <!--<mat-form-field>
          <mat-label class="req">Your Preferred Language</mat-label>
          <mat-select (click)="selectLanguage(language.value)" multiple>
            <mat-option *ngFor="let language of languages" [value]="language.value">
              {{language.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
	<p>Select Preferred Language:</p>
<div>
   <span *ngFor='let language of languages'>
       <mat-checkbox (click)="selectLanguage(language.value)">
           {{language.viewValue}}
       </mat-checkbox>
     </span>
</div>

        <br>

        <h4>Your Preferred Movie Genre</h4>
        <div class="movieDisplay1">
          <mat-card class="movieGenre">
            <mat-card-header>
              <mat-card-title class="req"><b>Romantic Movies</b></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="src/aee1.jpg"
              alt="Poster of a romantic movie">
            <mat-card-actions>
              <button class="btn btn-warning" mat-button (click)="onclick('Romantic Movies')">Click to Choose</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="movieGenre">
            <mat-card-header>
              <mat-card-title class="req"><b>Sports Movies</b></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="src/chakdeindia.jpg"
              alt="Poster of a drama movie">
            <mat-card-actions>
              <button class="btn btn-warning" mat-button (click)="onclick('Sports Movies')">Click to Choose</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="movieGenre">
            <mat-card-header>
              <mat-card-title class="req"><b>Horror Movies</b></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="src/horror.jpg"
              alt="Poster of a horror movie">
            <mat-card-actions>
              <button class="btn btn-warning" mat-button (click)="onclick('Horror Movies')">Click to Choose</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="movieGenre">
            <mat-card-header>
              <mat-card-title class="req"><b>Thriller Movies</b></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="src/thriller.jpg" alt="Poster of a thriller movie">
            <mat-card-actions>
              <button class="btn btn-warning" mat-button (click)="onclick('Thriller Movies')">Click to Choose</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="movieGenre">
            <mat-card-header>
              <mat-card-title class="req"><b>Sci-Fi  Movies</b></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="src/sciencefiction.jpg" alt="Poster of a science fiction movie">
            <mat-card-actions>
              <button class="btn btn-warning"mat-button (click)="onclick('Science Fiction Movies')">Click to Choose</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="movieGenre">
            <mat-card-header>
              <mat-card-title class="req"><b>Comedy Movies</b></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="src/comedy.jpg"
              alt="Poster of a comedy movie">
            <mat-card-actions>
              <button class="btn btn-warning" mat-button (click)="onclick('Comedy Movies')">Click to Choose</button>
            </mat-card-actions>
          </mat-card>

        </div>

        
          <h4>Your Preferred Event Category</h4>
          <div class="eventDisplay">
          <mat-card class="eventCatg">
            <mat-card-header>
              <mat-card-title class="req"><b>StandUp Comedy</b></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="src/rsz_stand-up.jpg" alt="Poster of Comicstaan">

            <mat-card-actions>
              <button class="btn btn-warning"mat-button (click)="onclickevent('StandUp Comedy')">Choose</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="eventCatg">
            <mat-card-header>
              <mat-card-title class="req"><b>Rock Concert</b></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="src/RockBand.jpg" alt="Poster of a Rock Concert">

            <mat-card-actions>
              <button class="btn btn-warning"mat-button (click)="onclickevent('Rock Concert')">Choose</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="eventCatg">
            <mat-card-header>
              <mat-card-title class="req"><b>Theatre Play</b></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="src/rsz_theatre-2.jpg" alt="Poster of Comicstaan">
            <mat-card-actions>
              <button class="btn btn-warning"mat-button (click)="onclickevent('Theatre Play')">Choose</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </form>
      <div>
        <button mat-button matStepperPrevious class="button2">Back</button>
        <button mat-button matStepperSubmit class="button1" (click)="onSubmit()">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
</body>
<div class="footer">
    <br>
      <div class="container">
        <div class="row">
          <br>
             <div class="p-2 col-md-12 mt-6">
            
                <h2>CONTACT</h2>
                 <p> <a href="#" class="text-light">
                 <i class="fa d-inline mr-3 text-light fa-phone"></i>080-4127 5059</a> </p>
                 <p> <a href="#" class="text-light">
                 <i class="fa d-inline mr-3 text-light fa-envelope-o"></i>buzzup@gmail.com</a> </p>
                 <p> <a href="#" class="text-light">
                 <i class="fa d-inline mr-3 fa-map-marker text-light"></i>NIIT Regional Office, 4th B Cross Rd,, Koramangala, Bengaluru, Karnataka 560034</a> </p>
              </div>
       
        <div class="row">
        <div class="col-md-12 mt-9"> 
            <p class="text-center">© Copyright 2018 Buzzup - All rights reserved. </p>
            <div class="row text-center">
                <div class="col-md-2 col-4 p-2"> <i class="d-block fa fa-facebook fa-2x"></i> </div>
                <div class="col-md-2 col-4 p-2"> <i class="d-block fa fa-twitter fa-2x"></i> </div>
                <div class="col-md-2 col-4 p-2"> <i class="d-block fa fa-instagram fa-2x"></i> </div>
                <div class="col-md-2 col-4 p-2"> <i class="d-block fa fa-linkedin fa-2x"></i> </div>
                <div class="col-md-2 col-4 p-2"> <i class="d-block fa fa-envelope-o fa-2x"></i> </div>
                <div class="col-md-2 col-4 p-2"> <i class="d-block fa fa-map-marker fa-2x"></i> </div>
                <br>
              </div>
          </div>
        </div>
      </div>
    </div> 
  
   
