<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- <div style="height: 100px;" > -->
        <mat-toolbar class="navbar navbar-expand-sm navbar-dark">
      
          <mat-toolbar-row>
            <button mat-icon-button fxShow="true" fxHide.gt-sm>
              <mat-icon></mat-icon>
            </button>
            
            <img src="src/logo3.png"  style="float:left;
      max-width: 100%;max-height: 180%;
      height: auto !important">
      
            <span class="example-spacer"></span>
            <div class="login" fxShow="true">
              <a href="#" mat-button>
                <mat-icon ></mat-icon>
                
              </a>
            </div>
           
          </mat-toolbar-row>
        </mat-toolbar>
      <!-- </div> -->
<body>
<section class="movie-container">
    <div class="trendingDisplay" *ngFor="let movie of movielist.movieList">
        <mat-card class="trending-card">
            <mat-card-header>
                <mat-card-title>{{movie.movieName}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{movie.moviePoster}}" alt="Poster of Trending movie 1">
            <mat-card-actions>
                    <a (click)="onClick(movie.movieName)"><button mat-raised-button >See Details</button></a>
                </mat-card-actions>
        </mat-card>
       
    </div>    
    </section>
    </body>
    <div class="fixed-footer">
        <br>
          <div class="container">
            <div class="row">
              <br>
                 <div class="p-2 col-md-12 mt-6">
                <br>
                <br>
                    <h2>CONTACT</h2>
                     <p> <a href="#" class="text-light">
                     <i class="fa d-inline mr-3 text-light fa-phone"></i>080-4127 5059</a> </p>
                     <p> <a href="#" class="text-light">
                     <i class="fa d-inline mr-3 text-light fa-envelope-o"></i>buzzup@gmail.com</a> </p>
                     <p> <a href="#" class="text-light">
                     <i class="fa d-inline mr-3 fa-map-marker text-light"></i>NIIT Regional Office, 4th B Cross Rd,, Koramangala, Bengaluru, Karnataka 560034</a> </p>
                  </div>
           
            <div class="row">
            <div class="col-md-12 mt-9"> 
                <p class="text-center">© Copyright 2018 Buzzup - All rights reserved. </p>
                <div class="row text-center">
                    <div class="col-md-2 col-4 p-2"> <i class="d-block fa fa-facebook fa-2x"></i> </div>
                    <div class="col-md-2 col-4 p-2"> <i class="d-block fa fa-twitter fa-2x"></i> </div>
                    <div class="col-md-2 col-4 p-2"> <i class="d-block fa fa-instagram fa-2x"></i> </div>
                    <div class="col-md-2 col-4 p-2"> <i class="d-block fa fa-linkedin fa-2x"></i> </div>
                    <div class="col-md-2 col-4 p-2"> <i class="d-block fa fa-envelope-o fa-2x"></i> </div>
                    <div class="col-md-2 col-4 p-2"> <i class="d-block fa fa-map-marker fa-2x"></i> </div>
                  </div>
              </div>
            </div>
          </div>
        </div> 
      
       