<div style="height: 100px;" >
        <mat-toolbar class="navbar navbar-expand-sm navbar-light">
      
          <mat-toolbar-row>
            <button mat-icon-button fxShow="true" fxHide.gt-sm>
              <mat-icon></mat-icon>
            </button>
            
            <img src="src/buzzuplogo.png" style="max-height: 150%">
      
            <span class="example-spacer"></span>
            <div class="login" fxShow="true">
              <a href="#" mat-button>
                <mat-icon ></mat-icon>
                
              </a>
            </div>
           
          </mat-toolbar-row>
        </mat-toolbar>
      </div>

<section class="movie-container">
    <div class="trendingDisplay" *ngFor="let movie of movielist.movieList">
        <mat-card class="trending-card">
            <mat-card-header>
                <mat-card-title>Rockstar</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{movie.moviePoster}}" alt="Poster of Trending movie 1">
            <mat-card-actions>
                    <a (click)="onClick(movie.movieName)"><button mat-raised-button >See Details</button></a>
                </mat-card-actions>
        </mat-card>
        <!-- <mat-card class="trending-card">
            <mat-card-header>
                <mat-card-title>DDLJ</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/51bHUukjctL._AC_UL300_SR300,300_.jpg" alt="Poster of Trending movie 2">
            <mat-card-actions>
                
                <a (click)="onClick('DDLJ')"><button mat-raised-button >See Details</button></a>
            </mat-card-actions>
        </mat-card>
        <mat-card class="trending-card">
            <mat-card-header>
                <mat-card-title>Shivaji</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://upload.wikimedia.org/wikipedia/en/c/ce/Sivaji_The_Boss.jpg" alt="Poster of Trending movie 3">
            <mat-card-actions>
                    <a (click)="onClick('Shivaji')"><button mat-raised-button >See Details</button></a>
                </mat-card-actions>
        </mat-card>
        <mat-card class="trending-card">
            <mat-card-header>
                <mat-card-title>Raees</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="http://content.hungama.com/audio%20album/display%20image/300x300%20jpeg/4853025682.jpg" alt="Poster of Trending movie 4">
            <mat-card-actions>
                    <a (click)="onClick('RAEES')"><button mat-raised-button >See Details</button></a>
                </mat-card-actions>
        </mat-card>
        <mat-card class="trending-card">
            <mat-card-header>
                <mat-card-title>Batti Gul Meter Chalu</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://pagalworld.org/GpE34Kg9Gq/14440/116837-batti-gul-meter-chalu-official-trailer-mp4-song-300.jpg" alt="Poster of Trending movie 5">
            <mat-card-actions>
                    <a (click)="onClick('Batti Gul Meter Chalu')"><button mat-raised-button >See Details</button></a>
                </mat-card-actions>
        </mat-card> -->
    
    </div>    
    </section>
<!-- <button (click)="onClick()">click</button> -->