<!-- <div style="height: 100px;" >
  <mat-toolbar class="navbar navbar-expand-sm navbar-light">

    <mat-toolbar-row>
      <button mat-icon-button fxShow="true" fxHide.gt-sm>
        <mat-icon></mat-icon>
      </button>
      
      <img src="src/buzzuplogo.png" style="max-height: 150%">

      <span class="example-spacer"></span>
      <div class="login" fxShow="true">
        <a href="#" mat-button>
          <mat-icon ></mat-icon>
          
        </a>
      </div>
     
    </mat-toolbar-row>
  </mat-toolbar>
</div> -->
<div class="success-msg">
  <i class="fa fa-check"></i>
  You have successsfully booked your tickets.
</div>