<link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
<mat-toolbar class="navbar navbar-expand-sm navbar-light">

    <mat-toolbar-row>
      <!-- <button mat-icon-button fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button> -->
      <!-- <span>BuzzUp</span> -->
      <img src="src/logo3.png"  style="float:left;
      max-width: 100%;max-height: 150%;
      height: auto !important">
     
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbarDarkSupportedContent">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search for Movies" [(ngModel)]="searchTitle" [ngModelOptions]="{standalone: true}">
              <button type="submit" (click)="onSubmit()" routerLink="/search"><i class="fa fa-search"></i></button>
            </form>
          </div>
      <span class="example-spacer"></span>
      <div class="login" fxShow="true">
        <a href="#" mat-button>
          <mat-icon >account_box</mat-icon>
          
        </a>
        <a routerLink="/login"><button type="button" class="btn btn-warning">Login</button></a>

      </div>

     
    </mat-toolbar-row>
     </mat-toolbar>
     

 
