.example-container{
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-left: 550px;
  }
   
  .example-container > * {
    width: 40%;
    padding-left: 0px;
    align-content: center;
  }

  .button-row button,
{
  margin: auto;
}

.a1{
  text-align: center;
  color: teal;
}
