.heading{
  display: flex;
  justify-content: center;
  color: rgba(58, 18, 95, 0.822);
  font-family: arial, sans-serif;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin-top: 13px;
  margin-bottom: 4px;
  margin-left: 0px;
  max-height: 60px;
  padding-left: 0px;
}
ul{
  margin-top: 40px;
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: baseline;
  /* height: 130px; */
  padding: 0px;
}
button {
  justify-content:space-between;
  width: 300px;
  height: 100px;
  margin-left:auto;
  margin-right:auto; 
  background-color: rgb(228, 228, 34);
  margin: 8px;
  /* flex-grow: 1; */
  flex-shrink: 0;
  flex-basis: 200px;
  padding: 0px;
}
.navbar {
  height: 70px;
  flex: 1 1 auto;
 

  position:fixed;
  z-index: 3;
  background-image: linear-gradient(rgb(106, 107, 93), rgb(29, 24, 24));
}  
.container{
  max-height: 2%;
  color: white;
}
.fixed-footer {
  background-image: linear-gradient(rgb(106, 107, 93), black);
     height: 230px;
     /* padding-bottom: 30px; */
     /* position:relative fixed; */
     width: 100%;
   
     border-bottom: 1px solid #CCCCCC;
     color: white;
     position: fixed;
     height: 200px;
     bottom: 0;
    line-height: 3px;
    
     /* border-top: 1px solid #DDDDDD; */
 }
 .py-5{
  
   max-height: 2vh;
   
 }
.text-center{
text-align:center;
}
h5{
color: rgb(175, 175, 29);
}
mat-icon{
  color:rgb(255, 204, 0);
}
body{
  background-image: linear-gradient(90deg,grey,white);
  padding-bottom: 10px;
  height: 100%;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   margin-top: 0;
   padding-top: 0;
   background-size: cover;
}
h4{
color:black;
}
h1{
color:rgb(239, 243, 10);
text-shadow:5px 7px black ;

} 
.font2{
font-family: 'Faster One', cursive;
font-size: 2em;

}
.rsvp
{
position: absolute;
top:250px;
}