<!-- <app-movie-screening></app-movie-screening> -->
<!-- <app-producer-dashboard></app-producer-dashboard> -->

<!-- Heading -->
<!-- <h1 class="heading">Producer : Dashboard</h1>

<ul>
        <a routerLink="/castEvent"><button class="btn btn-success pull-right" >Ticket Based Event</button></a>

     <a routerLink="/castEvent" routerLinkActive="active">Ticket Based Event</a> 
    <li><button mat-raised-button type="submit" >Ticket Based Event</button></li> 
    <li><button mat-raised-button type="submit" >RSVP Event</button></li>
    <li><button mat-raised-button type="submit" >Open Event</button></li>
</ul> -->
<!-- <app-front-dashboard></app-front-dashboard> -->
<router-outlet></router-outlet>
<!-- <app-registration-form></app-registration-form> -->
<!-- <app-authenticate></app-authenticate> -->
<!-- <app-home-page></app-home-page> -->
<!-- <app-movie-details></app-movie-details> -->
<!-- <app-city-movie-details></app-city-movie-details> -->
<!-- <app-payment></app-payment> -->