<h1 class="a1">
  USER REGISTRATION</h1>
<div class="form1">
  <mat-horizontal-stepper [linear]="true">
    <mat-step label=" Account Information">
      <mat-progress-bar mode="determinate" value=25></mat-progress-bar>
      <mat-form-field>
        <mat-label>Mobile Number</mat-label>
        <input matInput [(ngModel)]="userMobile" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email Id</mat-label>
        <input matInput [(ngModel)]="emailId" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'Show' : 'Hide'}}</mat-icon>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext class="button1">Next</button>
      </div>
    </mat-step>

    <mat-step label=" Personal Information">
      <mat-progress-bar mode="determinate" value=50></mat-progress-bar>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="userName">
      </mat-form-field>
      <br>
      <mat-radio-group [(ngModel)]="userGender">
        <mat-label>Gender</mat-label>
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>

      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput [(ngModel)]="age">
      </mat-form-field>

      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput [(ngModel)]="city">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious class="button2">Back</button>
        <button mat-button matStepperNext class="button1">Next</button>
      </div>
    </mat-step>

    <mat-step label=" Social Information">
      <mat-progress-bar mode="determinate" value=75></mat-progress-bar>
      <mat-form-field>
        <mat-label>Facebook Url</mat-label>
        <input matInput [(ngModel)]="fburl">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Twitter Url</mat-label>
        <input matInput [(ngModel)]="twitterurl">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious class="button2">Back</button>
        <button mat-button matStepperNext class="button1">Next</button>
      </div>
    </mat-step>

    <mat-step label="Preferences">
      <mat-progress-bar mode="determinate" value=100></mat-progress-bar>
      <mat-form-field>
        <mat-label>Your Preferred Language</mat-label>
        <mat-select (click)="selectLanguage(language.value)" multiple>
          <mat-option *ngFor="let language of languages" [value]="language.value">
            {{language.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- ------------------------------------------------------------------------ -->
      <br>

      <h4>Your Preferred Movie Genre</h4>
      <!-- <div class="card-container"> -->
        <mat-card class="movieGenre">
          <mat-card-header>
            <mat-card-title>Romantic Movies</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="http://s3.india.com/wp-content/uploads/2014/02/Dilwale-Dulhania-Le-Jayenge_Poster_Landscape.jpg"
            alt="Poster of a romantic movie">
          <mat-card-actions>
            <button mat-button (click)="onclick('Romantic Movies')">Click to Choose</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="movieGenre">
          <mat-card-header>
            <mat-card-title>Horror Movies</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://asset21.ckassets.com/blog/wp-content/uploads/sites/5/2018/06/%5E2BC57CCEE2BCC9350F4FA61A757E6861D52D35096C19C23469%5Epimgpsh_fullsize_distr.png"
            alt="Poster of a horror movie">
          <mat-card-actions>
            <button mat-button (click)="onclick('Horror Movies')">Click to Choose</button>
          </mat-card-actions>
        </mat-card>
      <!-- </div> -->


      <!-- <div class="card-container"> -->

        <mat-card class="movieGenre">
          <mat-card-header>
            <mat-card-title>Thriller Movies</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://qph.fs.quoracdn.net/main-qimg-9691769ebd7e05d0488f5853e9d0fdca-c" alt="Poster of a thriller movie">
          <mat-card-actions>
            <button mat-button (click)="onclick('Thriller Movies')">Click to Choose</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="movieGenre">
          <mat-card-header>
            <mat-card-title>Science Fiction Movies</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://upload.wikimedia.org/wikipedia/en/b/bc/Interstellar_film_poster.jpg" alt="Poster of a science fiction movie">
          <mat-card-actions>
            <button mat-button (click)="onclick('Science Fiction Movies')">Click to Choose</button>
          </mat-card-actions>
        </mat-card>
      
      <mat-card class="movieGenre">
        <mat-card-header>
          <mat-card-title>Comedy Movies</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://is4-ssl.mzstatic.com/image/thumb/Video/v4/d7/ee/a3/d7eea36d-e857-5c2b-ae65-5f5b39239cd5/pr_source.lsr/268x0w.png"
          alt="Poster of a comedy movie">
        <mat-card-actions>
          <button mat-button (click)="onclick('Comedy Movies')">Click to Choose</button>
        </mat-card-actions>
      </mat-card>
      <!-- ----------------------------------------------------------------------- -->

      <h4>Your Preferred Event Category</h4>
      <mat-card class="eventCatg">
        <mat-card-header>
          <mat-card-title>StandUp Comedy</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://i.ytimg.com/vi/2Esj7f2FnaY/maxresdefault.jpg" alt="Poster of Comicstaan">

        <mat-card-actions>
          <button mat-button (click)="onclickevent('StandUp Comedy')">Choose</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="eventCatg">
        <mat-card-header>
          <mat-card-title>Rock Concert</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="http://www.freepressjournal.in/wp-content/uploads/2016/12/sunburn-festival685.jpg" alt="Poster of a Rock Concert">

        <mat-card-actions>
          <button mat-button (click)="onclickevent('Rock Concert')">Choose</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="eventCatg">
        <mat-card-header>
          <mat-card-title>Theatre Play</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://images.indianexpress.com/2014/11/theatre-2.jpg" alt="Poster of Comicstaan">
        <mat-card-actions>
          <button mat-button (click)="onclickevent('Theatre Play')">Choose</button>
        </mat-card-actions>
      </mat-card>

      <!-- -------------------------------------------------------------------- -->

      <div>
        <button mat-button matStepperPrevious class="button2">Back</button>
        <button mat-button type="onSubmit" (click)="onSubmit()" class="button1">Done</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>