.heading{
    display: flex;
    justify-content: center;
    color: rgba(58, 18, 95, 0.822);
    font-family: arial, sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 4px;
    margin-left: 0px;
    max-height: 60px;
    padding-left: 0px;
}
ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    border: 1px solid red;
    /* height: 130px; */
    padding: 0px;
}
button {
    justify-content:space-between;
    width: 500px;
    height: 100px;
    background-color: #8cacea;
    margin: 8px;
    /* flex-grow: 1; */
    flex-shrink: 0;
    flex-basis: 200px;
    padding: 0px;
  }