ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    max-height: 150px;    

}
li {
    align-content: center;
    /* width: 50px;
    height: 70px; */
    background-color: #8cacea;
    margin: 5px;
    /* flex-grow: 1; */
    flex-shrink: 0;
    /* flex-basis: 200px; */
  }
.heading{
    display: flex;
    justify-content: center;
    color: rgba(58, 18, 95, 0.822);
    font-family: arial, sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 4px;
    margin-left: 0px;
    max-height: 60px;
    padding-left: 0px;
}
.registration{
    
    justify-content: center;
    max-width: 1500px;
    margin-left: 0px;
    padding-left: 0px;

}
.form{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 0px;
    max-width: 2000px;
}
.btn{
    display: flex;
    margin-left: 0px;
    padding-left: 0px;
    
    margin-top: 15px;
    justify-content: center;
}
.date{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;

}
.tag{
    color: rgba(58, 18, 95, 0.822);
    font-family: arial, sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-top: 13px; 
    margin-bottom: 4px;
    margin-left: 0px;
    max-height: 60px;
    padding-left: 0px
}
.check{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    /* flex-direction: column; */
    flex-wrap: wrap;
}
.checkbox{
    align-content: center;
    margin-top: 10px;
}