
  <!-- <mat-toolbar>
  
    <span class="head">BuzzUp</span>
    <span class="position"></span>
   <button mat-raised-button >Register</button>   
     
  </mat-toolbar> -->

  <div style="height: 100px;" >
      <mat-toolbar class="navbar navbar-expand-sm navbar-light">
    
        <mat-toolbar-row>
          <button mat-icon-button fxShow="true" fxHide.gt-sm>
            <mat-icon></mat-icon>
          </button>
          
          <img src="src/buzzuplogo.png" style="max-height: 150%">
    
          <span class="example-spacer"></span>
          <div class="login" fxShow="true">
            <a href="#" mat-button>
              <mat-icon ></mat-icon>
              
            </a>
          </div>
         
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
<div class="img" *ngFor="let theatre of movie.theatres">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="heading">
          {{theatre.theatreLocation}}
        </mat-panel-title>
        <mat-panel-description class="heading">
          
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      
      <p class="style">Theater Name: {{theatre.theatreName}}</p>
     <span class="style"> Category & Pricing:</span> <span class="style" *ngFor="let price of theatre.weekdaysPrice"> {{price}},</span>
     <p class="style"><span> Show Timings:</span> <span *ngFor="let time of theatre.weekendsPrice"> {{time}},</span></p>
     <button  class="style"  type="submit" (click)="onSubmit()">Book Ticket</button> 

    </mat-expansion-panel>
    
  </mat-accordion>

</div>
<!-- <button  class="style"  type="submit" (click)="onSubmit()">Book Ticket</button>  -->
