
<!--CODE FOR LANDING PAGE START HERE-->
<!-- <body background="src/finalbackground.jpeg"> -->

<!-- <mat-toolbar>
  
  <button mat-stroked-button class="login">Login</button>
  <button mat-stroked-button class="register">Register</button>
</mat-toolbar> -->
<!-- <mat-toolbar>
  <p class="heading">BuuzUp</p>
    <button mat-button class="login">Login</button> 
     <button mat-stroked-button class="register">Login</button> 
     <a routerLink="/user"><button mat-button class="login" >Login</button></a> 

    <a routerLink="/login"><button mat-button class="login" >Login</button></a>



</mat-toolbar> -->
<mat-toolbar>

  <span class="heading">BuzzUp</span>
  <span class="position"></span>
  <a routerLink="/login"><button mat-raised-button >Login</button></a>
 
 </mat-toolbar>
      <!-- <img width="680" height="300" class="image1" src="src/BangalorePic.jpg">
       <img width="680" height="300" class="image2" src="src/punePic.jpg">
     <img width="680" height="300" class="image3"src="src/delhiPic.jpg"> 
   <img width="680" height="300"class="image4" src="src/kolkataPic.jpg"> -->
 
   <div class="img1">
    <img class="img2" src="src/BangalorePic.jpg">
     <img class="img2"  src="src/punePic.jpg">
   <img class="img2" src="src/delhiPic.jpg">
   <img class="img2" src="src/kolkataPic.jpg">
   </div>




