<!-- <div style="height: 100vh;"> -->
  <div style="height: 100px; padding: 0px; margin: 0px" >
  <mat-toolbar class="navbar navbar-expand-sm navbar-light">

    <mat-toolbar-row>
      <button mat-icon-button fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <!-- <span>BuzzUp</span> -->
      <img src="src/buzzuplogo.png" style="max-height: 100%">

      <!-- <div class="host">
        <mat-form-field class="mat-search_field" [@slideInOut]="searchVisible">
            <input matInput type="text" size="1000" style="width:80%"  placeholder="Search" (blur)="onBlurring(input.value)" (keyup.enter)="onEnterring(input.value)" (focus)="onFocussing(input.value)" />
        </mat-form-field>
        <span class="mat-search_icons" [class.mat-search_icons--active]="searchVisible">
          <mat-icon class="mat-search_icon-close" (click)="close()" matRipple>close</mat-icon>
          <mat-icon class="mat-search_icon-search" (click)="open()" matRipple>search</mat-icon>
        </span>
        </div> -->

        <!-- <div class="search-container">
          <form>
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div> -->

        <div class="right">
          <form id="search">
            <input #search type="search" [placeholder]="filled?'Search':''" [ngClass]="{'filled':filled}" 
                 (click)="filled=!filled" (blur)="filled=search.value?true:false"  [(ngModel)]="searchTitle" [ngModelOptions]="{standalone: true}" >
                 <button class="close" *ngIf="filled" (click)="onSearch();filled=false" >X</button>
          </form>
        </div>

      <span class="example-spacer"></span>
      <div class="login" fxShow="true">
        <a href="#" mat-button>
          <mat-icon >account_box</mat-icon>
          
        </a>
        <a routerLink="/login"><button mat-raised-button >Login</button></a>

      </div>

     
    </mat-toolbar-row>
     </mat-toolbar>
     </div>

 
